SubDir TOP #GROUP# #SKETCH# ;

LOCATE_TARGET = out ;
LOCATE_SOURCE = out ;

LIBS 		= ;
HDRS 		+= $(LIBRARY_DIR)/$(LIBS) ;
LIBRARY_MODULES	= [ GLOB $(LIBRARY_DIR)/$(LIBS) : *.cpp *.c ] ;

Main $(SEARCH_SOURCE:B) : $(LIBRARY_MODULES) $(CORE_MODULES) $(INTERNAL_MODULES) [ GLOB $(SEARCH_SOURCE) : *.ino *.cpp ] $(EXTRAS_DIR)/shellmain.cpp ;
